{% load static %}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
    <meta name="author" content="themefisher.com">

    <title>Novena- Health & Care Medical template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'SingUp/images/favicon.ico' %}" />

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'SingUp/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="{% static 'SingUp/plugins/icofont/icofont.min.css' %}">
    <!-- Slick Slider  CSS -->
    <link rel="stylesheet" href="{% static 'SingUp/plugins/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'SingUp/plugins/slick-carousel/slick/slick-theme.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'SingUp/css/style.css' %}">




</head>

<body id="top">

    <header>
        <div class="header-top-bar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <ul class="top-bar-info list-inline-item pl-0 mb-0">
                            <li class="list-inline-item"><a href="mailto:support@gmail.com"><i class="icofont-support-faq mr-2"></i>Team__A30@gmail.com</a></li>
                            <li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>Address Ta-134/A, Benisuef, Egypt </li>
                        </ul>

                    </div>
                    <div class="col-lg-6">
                        <div class="text-lg-right top-right-bar mt-2 mt-lg-0">
                            <a href="tel:+23-345-67890">
                                <span>Call Now : </span>
                                <span class="h4">823-4565-13456</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navigation" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <!-- <img src="images/logo.png" alt="" class="img-fluid"> -->
                </a>

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
			<!-- <span class="icofont-navigation-menu"></span> -->
		  </button>

                <div class="collapse navbar-collapse" id="navbarmain">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="">Home</a>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="">Services</a></li>



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors <i class="icofont-thin-down"></i></a>

                        </li>


                        <li class="nav-item"><a class="nav-link" href="">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-primary " href="SingUp">SingUp</a></li>
                        ..
                        <li class="nav-item"><a class="nav-link btn btn-success" href="SingIn">LogIn</a></li>

                        <!-- <li class="nav-item"><a class="nav-link" href="% url 'log' %}">LogOut</a></li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Slider Start -->
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xl-7">
                    <div class="block">
                        <div class="divider mb-3"></div>
                        <span class="text-uppercase text-sm letter-spacing ">Total Health care solution</span>
                        <h1 class="mb-3 mt-3">Your most trusted health partner</h1>

                        <p class="mb-4 pr-5">Through the website, you can upload a picture of the symptoms that appear on your skin, know the type of disease you have, and receive treatment for it</p>
                        <div class="btn-container ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section></section>


    <section class="section about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="about-img">

                        <img src="{% static 'SingUp/images/about/img-1.jpg' %}" alt="" class="img-fluid">
                        <img src="{% static 'SingUp/images/about/img-2.jpg' %}" alt="" class="img-fluid mt-4">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="about-img mt-4 mt-lg-0">
                        <img src="{% static 'SingUp/images/about/img-3.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-content pl-4 mt-4 mt-lg-0">
                        <h2 class="title-color">Personal care <br>& healthy living</h2>
                        <p class="mt-4 mb-5">We provide a service for diagnosing dermatology and offering treatment for the disease. The patient can also know doctors in most specialties and their address.</p>

                        <a href="" class="btn btn-main-2 btn-round-full btn-icon">Services<i class="icofont-simple-right ml-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section service gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>Ways to prevent some common diseases</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>The site helps you learn about ways to protect against common diseases of skin diseases and some other diseases.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <h4 class="mt-3 mb-3">Acne</h4>
                        </div>

                        <div class="content">
                            <p class="mb-4"> Most experts agree that certain foods, like chocolate, don't cause pimples. Still, it makes sense to avoid greasy food and junk food and add more fresh fruits, vegetables and whole grains to your diet. Dairy products and foods
                                high in processed sugar may trigger acnep and Avoid these.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">
                            <h4 class="mt-3 mb-3">Eczema</h4>
                        </div>
                        <div class="content">
                            <p class="mb-4">Trying to minimize sweating is an obvious first line of defense. “Staying cool by avoiding excessively warm temperatures and reducing sweating are the most important strategies,” Dr. Friedmann says. That might mean sticking
                                to the shade when you’re outside</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">

                            <h4 class="mt-3 mb-3">Rosacea</h4>
                        </div>
                        <div class="content">
                            <p class="mb-4">Apply a gentle, broad-spectrum sunscreen with an SPF of 30 or higher every day. A fragrance-free sunscreen that contains zinc oxide, titanium dioxide, or both is least likely to irritate your sensitive skin. Wear a wide-brimmed
                                hat when outdoors during the day</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">

                            <h4 class="mt-3 mb-3">Shingles</h4>
                        </div>

                        <div class="content">
                            <p class="mb-4">The NIATrusted Source says that getting vaccinated can help keep you from developing severe shingles symptoms or complications. All children should receive two doses of the chickenpox vaccine, also known as a varicella immunization.
                                Adults who’ve never had chickenpox should also get this vaccin</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">

                            <h4 class="mt-3 mb-3">Sunburn</h4>
                        </div>
                        <div class="content">
                            <p class="mb-4">Limit the amount of time you’re in the sun between 10:00 AM and 4:00 PM. This is when the sun's rays are the most intense. Practice the shadow rule: if your shadow is shorter than you, the sun's rays are at their strongest,
                                and you should find shade. look for clothes made with special sun-protective materials.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-4">
                        <div class="icon d-flex align-items-center">

                            <h4 class="mt-3 mb-3">Tinea</h4>
                        </div>
                        <div class="content">
                            <p class="mb-4">Keep your skin clean and dry. Wear shoes that allow air to circulate freely around your feet. Don’t walk barefoot in areas like locker rooms or public showers. Clip your fingernails and toenails short and keep them clean. Change
                                your socks and underwear at least once a day.</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="section service gray-bg">

        <center>
            <h2>Advertisement</h2>
        </center>
        <div class="divider mx-auto my-4"></div>
        <center>
            <p>You can place an ad for you by placing a description of your ad and a link to reach it</p>

        </center>
        <div class="container">
            <div class="row">

                {% block content %} {% endblock %}

            </div>

        </div>
    </section>


    <!-- footer Start -->
    <footer class="footer section gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mr-auto col-sm-6">
                    <div class="widget mb-5 mb-lg-0">
                        <div class="logo mb-4">

                            <img src="{% static 'SingUp/images/logo3.jpeg'%}" alt="" class="img-fluid">

                        </div>
                        <p>Tempora dolorem voluptatum nam vero assumenda voluptate, facilis ad eos obcaecati tenetur veritatis eveniet distinctio possimus.</p>

                        <ul class="list-inline footer-socials mt-4">
                            <li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Department</h4>
                        <div class="divider mb-4"></div>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="#">skin care </a></li>
                            <li><a href="#">Wome's Health</a></li>
                            <li><a href="#">Radiology</a></li>
                            <li><a href="#">analysis</a></li>
                            <li><a href="#">Medicine</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Support</h4>
                        <div class="divider mb-4"></div>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Company Support </a></li>
                            <li><a href="#">FAQuestions</a></li>
                            <li><a href="#">Company Licence</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-contact mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Get in Touch</h4>
                        <div class="divider mb-4"></div>

                        <div class="footer-contact-block mb-4">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-email mr-3"></i>
                                <span class="h6 mb-0">Support Available for 24/7</span>
                            </div>
                            <h4 class="mt-2"><a href="tel:+23-345-67890">Support@email.com</a></h4>
                        </div>

                        <div class="footer-contact-block">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-support mr-3"></i>
                                <span class="h6 mb-0">Mon to Fri : 08:30 - 18:00</span>
                            </div>
                            <h4 class="mt-2"><a href="tel:+23-345-67890">+23-456-6588</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-btm py-4 mt-5">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6">
                        <div class="copyright">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="subscribe-form text-lg-right mt-5 mt-lg-0">
                            <form action="#" class="subscribe">
                                <input type="text" class="form-control" placeholder="Your Email address">
                                <a href="#" class="btn btn-main-2 btn-round-full">Subscribe</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <a class="backtop js-scroll-trigger" href="#top">
                            <i class="icofont-long-arrow-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- 
    Essential Scripts
    =====================================-->


    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>

    <script src="plugins/shuffle/shuffle.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

    <script src="js/script.js"></script>
    <script src="js/contact.js"></script>

</body>

</html>