{% extends 'SingUp/index.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="container jumbotron " style="height: 30%; margin-top:-70px;">
    <h4 class="text-center text-muted">Create New Account </h4>
    <br>
    <form action="SingUp " method="post">
        {% csrf_token %}
        <div class="row">

            <div class="col-12">{{form.Firstname|as_crispy_field}}</div>
            <div class="col-12">{{form.Lastname|as_crispy_field}}</div>
            <div class="col-12">{{form.Email|as_crispy_field}}</div>
            <div class="col-12">{{form.Username|as_crispy_field}}</div>
            <div class="col-12">{{form.Password|as_crispy_field}}</div>
            <div class="col-12">{{form.address|as_crispy_field}}</div>
            <div class="col-12">{{form.Brith_Date|as_crispy_field}}</div>
            <div class="col-12">{{form.phone|as_crispy_field}}</div>



        </div>
        <center>
            <div style="padding-top: 50px;"> <input type="submit" value="SingUp" class="btn btn-info" style="padding-left: 50px;padding-right: 50px;"> </div>
        </center>
    </form>
</div>

{% endblock %}